body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}
.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.styled-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.styled-form .form-group {
    margin-bottom: 15px;
}

.styled-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.styled-form input[type="text"],
.styled-form textarea,
.styled-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.styled-form textarea {
    resize: none; /* Prevents the user from resizing the textarea */
}

.styled-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.styled-form input[type="submit"]:hover {
    background-color: #45a049;
}

.styled-form input[type="text"]:focus,
.styled-form textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

.styled-form input::placeholder,
.styled-form textarea::placeholder {
    color: #999;
}
